<% layout('layouts/boilerplate') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %>!</p>

 <div class="row g-3">
	 <% for(let group of allGroups) { %>
	 <div class="col-md-4">
	 	<div> <%= group.name %> </div>
		<div>
			Members: <br>
			<% for(let member of group.members){ %>
				<%= member.subjectName %> ( <%= member.classNum %> )<br>
			<% } %>
		</div>
		<div> min: <%= group.minSelection %><br> </div>
		<div> max: <%= group.maxSelection %><br> </div>
		<div>
			<form action="/musttake/<%= group._id %>/?_method=DELETE" method="POST">
				<button class="btn btn-danger">Delete</button>
			</form>
			<form action="/musttake/update/<%= group._id %>">
				<button class="btn btn-info">Update</button>
			</form>
		</div>
	 </div>
	 <% } %>
 </div>

 <a href="/musttake/new">Add new custom mustTakeGroup</a>
  <br>
 <a href="/">Go to home page</a>