<% include('../layouts/ejsFunctions') %>
<% layout('layouts/boilerplate') %>
<% if(lang && lang === 'ENG') { %>
<h2>Add custom group</h2>
<form action="/musttake" method="POST" class="row g-3 needs-validation" novalidate>
	<div class="col-md-4">
		<label for="name" class="form-label">Bundle Name: </label>
		<input type="text" class="form-control" id="name" name="name" required><br>
		<div class="valid-feedback">
			Looks good!
		</div>
	</div>
	
	<div class="col-md-4">
		<label for="minSelection" class="form-label">Minimum # of subjects from bundle:</label>
		<input type="number" class="form-control" id="minSelection" name="minSelection" required><br>
		<div class="valid-feedback">
			Looks good!
		</div>
	</div>
	<div class="col-md-4">
		<label for="maxSelection" class="form-label">Maximum # of subjects from bundle:</label>
		<input type="number" class="form-control" id="maxSelection" name="maxSelection" required><br>
		<div class="valid-feedback">
			Looks good!
		</div>
	</div>
	
	
	<% for(let subject of mySubjects) { %>
		<div class="col-md-4">
			<%= subject.subjectName %> <% if(subject.classNum) { %> (<%= subject.classNum %>) <% } %> <br>
			  <% for (let yoil of daysOfWeek ) { %>
				<% if (subject[yoil[1]].length !== 0) { %>
					<%= yoil[0] %> : 
					<% for (let i = 0; i < subject[yoil[1]].length; i++) { %> 
						<%= formatTime(subject[yoil[1]][i][0]) %> ~ <%= formatTime(subject[yoil[1]][i][1]) %>, 
					<% } %>
					<br>
				<% } %>
			<% } %>

			Required: <%= subject.mustTake ? 'True' : 'False' %>
			Weight: <%= subject.weight %>
			Credit: <%= subject.credit %>
			<div>
				<label for="<%= subject.subjectName%>" class="form-label">Select</label>
				<input type="checkbox" id="<%= subject.subjectName%>" name="members" value=<%= subject._id %>>
			</div>
		</div>
	<% } %>
	
	<button class="btn btn-primary" type="submit">Submit</button>
</form>

  <a href="/">Return to main page</a>
<% } else { %>
<h2>묶음 만들기</h2>
<form action="/musttake" method="POST" class="row g-3 needs-validation" novalidate>
	<div class="col-md-4">
		<label for="name" class="form-label">묶음 이름: </label>
		<input type="text" class="form-control" id="name" name="name" required><br>
		<div class="valid-feedback">
			좋아요!
		</div>
	</div>
	
	<div class="col-md-4">
		<label for="minSelection" class="form-label">최소 과목 수:</label>
		<input type="number" class="form-control" id="minSelection" name="minSelection" required><br>
		<div class="valid-feedback">
			좋아요!
		</div>
	</div>
	<div class="col-md-4">
		<label for="maxSelection" class="form-label">최대 과목 수:</label>
		<input type="number" class="form-control" id="maxSelection" name="maxSelection" required><br>
		<div class="valid-feedback">
			좋아요!
		</div>
	</div>
	
	
	<% for(let subject of mySubjects) { %>
		<div class="col-md-4">
			<%= subject.subjectName %> <% if(subject.classNum) { %> (<%= subject.classNum %>) <% } %> <br>
			  <% for (let yoil of daysOfWeek ) { %>
				<% if (subject[yoil[1]].length !== 0) { %>
					<%= yoil[0] %> : 
					<% for (let i = 0; i < subject[yoil[1]].length; i++) { %> 
						<%= formatTime(subject[yoil[1]][i][0]) %> ~ <%= formatTime(subject[yoil[1]][i][1]) %>, 
					<% } %>
					<br>
				<% } %>
			<% } %>

			필수: <%= subject.mustTake ? 'O' : 'X' %>
			중요도: <%= subject.weight %>
			학점: <%= subject.credit %>
			<div>
				<label for="<%= subject.subjectName%>" class="form-label">선택하기</label>
				<input type="checkbox" id="<%= subject.subjectName%>" name="members" value=<%= subject._id %>>
			</div>
		</div>
	<% } %>
	
	<button class="btn btn-primary" type="submit">제출하기</button>
</form>

  <a href="/">메인 화면으로</a>


<% } %>