<% layout('layouts/boilerplate') %>
<h1>Update <%= updateGroup.name %> </h1>
	 
  <div>
	<form action="/musttake/<%= updateGroup._id %>?_method=PATCH" method="POST" class="row g-3 needs-validation" novalidate>
		<div class="col-md-4">
			<label for="name" class="form-label">mustTakeGroup Name: </label>
			<input type="text" class="form-control" id="name" name="name" value="<%= updateGroup.name %>" required><br>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
		<div class="col-md-4">
			<label for="minSelection" class="form-label">Type minSelect value:</label>
			<input type="number" class="form-control" id="minSelection" name="minSelection" value="<%= updateGroup.minSelection %>" required><br>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
		<div class="col-md-4">
			<label for="maxSelection" class="form-label">Type maxSelect value:</label>
			<input type="number" class="form-control" id="maxSelection" name="maxSelection" value="<%= updateGroup.maxSelection %>" required><br>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
		
		<div class="col-md-8">
			<% for(let subject of mySubjects) { %>
				<div class="col-md-4">
					<%= subject.subjectName %><br>
					  <% for (let yoil of daysOfWeek ) { %>
						<% if (subject[yoil[1]].length !== 0) { %>
							<%= yoil[0] %> : 
							<% for (let i = 0; i < subject[yoil[1]].length; i++) { %> 
								<%= subject[yoil[1]][i][0] %> ~ <%= subject[yoil[1]][i][1] %>, 
							<% } %>
							<br>
						<% } %>
					<% } %>

					Required: <%= subject.mustTake %>
					Weight: <%= subject.weight %>
					Credit: <%= subject.credit %>
					<div>
						<label for="<%= subject.subjectName%>" class="form-label">Select</label>
						<input type="checkbox" id="<%= subject.subjectName%>" name="members" value=<%= subject._id %>>
					</div>
				</div>
			<% } %>
		</div>
		
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
  </div>

 <a href="/musttake">Go back</a>