<% layout('layouts/boilerplate') %>
<h1>Update <%= updateGroup.name %> </h1>
	 
  <div>
	<form action="/musttake/<%= updateGroup._id %>?_method=PATCH" method="POST">
		<label for="name">mustTakeGroup Name: </label>
		<input type="text" id="name" name="name" value="<%= updateGroup.name %>"><br>


		<label for="members">mustTakeGroup members (in the form of ""id1,id2,id3"" Note: No commas allowed):</label>
		<input type="text" id="members" name="members" value="<%= updateGroup.members %>"><br>


		<label for="minSelection">minSelection: </label>
		<input type="text" id="minSelection" name="minSelection" value="<%= updateGroup.minSelection %>"><br>

		<label for="maxSelection">maxSelection: </label>
		<input type="text" id="maxSelection" name="maxSelection" value="<%= updateGroup.maxSelection %>"><br>

		<button>Submit</button>
	</form>
  </div>

 <a href="/musttake">Go back</a>