<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
	  
	 
	 <% for(let schedule of allSchedules) { %>
	  <div>
	  	<%= schedule.subjectName %>
	  	<%= schedule.start %> ~ <%= schedule.end %>
	  	<%= schedule.weight %>
		  <form action="/<%= schedule._id %>/?_method=DELETE" method="POST">
			  <button>Delete</button>
		  </form>
		  <form action="/update/<%= schedule._id %>">
			  <button>Update</button>
		  </form>
	  </div>
		<br>
	 <% } %>
	  
	 <a href="/new">Add new custom schedule</a>
	  <br>
	 <a href="/best">View optimized schedule</a>
	  
  </body>
</html>
