<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
	  
	 
	 <% for(let subject of allSubjects) { %>
	  <div>
	  	<%= subject.subjectName %><br>
		  <% for (let yoil of daysOfWeek ) { %>
		  	<% if(subject[yoil[1]].start > 0) { %>
		  		<%= yoil[0] %> : <%= subject[yoil[1]].start %> ~ <%= subject[yoil[1]].end %><br>
		  	<% } %>
		<% } %>
		  
	  	Weight: <%= subject.weight %>
		  <form action="/<%= subject._id %>/?_method=DELETE" method="POST">
			  <button>Delete</button>
		  </form>
		  <form action="/update/<%= subject._id %>">
			  <button>Update</button>
		  </form>
	  </div>
		<br>
	 <% } %>
	  
	 <a href="/new">Add new custom subject</a>
	  <br>
	 <a href="/best">View optimized schedule</a>
	  
  </body>
</html>
