<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
	
	  <h1>Update <%= updateSubject.subjectName %> </h1>
	 
	  <div>
		<form action="/<%= updateSubject._id %>?_method=PATCH" method="POST">
			<label for="subjectName">Subject Name: </label>
			<input type="text" id="subjectName" name="subject[subjectName]" value="<%= updateSubject.subjectName %>"><br>
			
			<% for (let yoil of daysOfWeek) { %>
				<label for="start-<%= yoil[1]%>"><%= yoil[0] %> Start time: </label>
				<input type="number" id="start-<%= yoil[1]%>" name="subject[start]" value="<%= updateSubject[yoil[1]].start %>"><br>
				<label for="end-<%= yoil[1]%>"><%= yoil[0] %> End time: </label>
				<input type="number" id="end-<%= yoil[1]%>" name="subject[end]" value="<%= updateSubject[yoil[1]].end %>"><br>
			<% } %>
			
			<label for="weight">Importance: </label>
			<input type="number" id="weight" name="subject[weight]" value="<%= updateSubject.weight %>">
			
			<button>Submit</button>
		</form>
	  </div>
	  
	 <a href="/">Return to main page</a>
	  
  </body>
</html>
