<% layout('layouts/boilerplate') %>
<h1>Welcome to restrictions page!</h1>

<% for(let restriction of restrictions) { %>
	<% if(restriction.restrictionName) { %>
		<%= restriction.restrictionName %>
	<% } %>
  <div>
	  <% for (let yoil of daysOfWeek ) { %>
		<% if (restriction[yoil[1]].length !== 0) { %>
			<%= yoil[0] %> : 
			<% for (let i = 0; i < restriction[yoil[1]].length; i++) { %> 
				<%= restriction[yoil[1]][i][0] %> ~ <%= restriction[yoil[1]][i][1] %>, 
			<% } %>
			<br>
		<% } %>
	<% } %>

	  <form action="/restriction/<%= restriction._id %>/?_method=DELETE" method="POST">
		  <button class="btn btn-danger">Delete</button>
	  </form>
	  <form action="/restriction/update/<%= restriction._id %>">
		  <button class="btn btn-info">Update</button>
	  </form>
  </div>
	<br>
 <% } %>

 <a href="/restriction/new">Add new custom restriction</a><br>
 <a href="/">Return to home page</a>