<% layout('layouts/boilerplate') %>
<h1>Update <%= updateRestriction.subjectName %> </h1>
	 
  <div>
	<form action="/restriction/<%= updateRestriction._id %>?_method=PATCH" method="POST">
		<div class="col-md-12">
			<% if(updateRestriction.restrictionName) { %>
				<label for="restrictionName" class="form-label">Restriction Name(Optional):</label>
				<input type="text" class="form-control" name="restrictionName" value="<%=updateRestriction.restrictionName%>"><br>
			<% } else { %>
				<label for="restrictionName" class="form-label">Restriction Name(Optional):</label>
				<input type="text" class="form-control" name="restrictionName"><br>
			<% } %>
		</div>

		<% for(let yoil of daysOfWeek) { %>
			<div class="col-md-4">
				<label for="<%= yoil[1]%>" class="form-label"><%= yoil[0] %> Time:</label>
				<input type="text" class="form-control" id="<%= yoil[1]%>" name="<%= yoil[1] %>" value="<%= updateRestriction[yoil[1]]%>"><br>
			</div>
		<% } %>
		<div class="col-md-8">
			<button class="btn btn-primary" type="submit">Submit form</button>
		</div>
	</form>
  </div>

 <a href="/restriction">Go back</a>