<% include('../layouts/ejsFunctions') %>
<% layout('layouts/boilerplate') %>


<% if(lang && lang === 'ENG') { %>
	<h1>Search Results</h1>
	<div class="row g-3">
	<% for(let candidate of candidates) { %>
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title"><%= candidate.subjectName %></h5>
			<p class="card-text">
				Professor: <%= candidate.prof%> <br>
				Credit: <%= candidate.credit%>
			</p>
		  </div>
		  <ul class="list-group list-group-flush">
			<li class="list-group-item">
				<% for (let yoil of daysOfWeek ) { %>
					<% if (candidate[yoil[1]].length !== 0) { %>
						<%= yoil[0] %> : 
						<% for (let i = 0; i < candidate[yoil[1]].length; i++) { %> 
							<%= formatTime(candidate[yoil[1]][i][0]) %> ~ <%= formatTime(candidate[yoil[1]][i][1]) %>, 
						<% } %>
						<br>
					<% } %>
				<% } %>
			</li>
			<li class="list-group-item">
			  <p>
				  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= candidate._id%>" aria-expanded="false" aria-controls="collapseExample<%= candidate._id%>">
					Show Details
				  </button>
			  </p>
			  <div class="collapse" id="collapseExample<%= candidate._id%>">
			    <div class="card card-body">
					Room Number : <%= candidate.roomNum%><br>
					Classification : <%= candidate.classification%><br>
					
					Department : <%= candidate.department%><br>
					Recommended grade : <%= candidate.grade%><br>
					Subject ID : <%= candidate.subjectNum%><br>
					Class ID : <%= candidate.classNum%><br>
					
					Capacity : <%= candidate.capacity%><br>
					Language : <%= candidate.language%><br>
					Remark : <%= candidate.remark%><br>
			    </div>
			  </div>
			</li>
			<li class="list-group-item">
				<form action="/database/add/<%= candidate._id %>?_method=POST" method="POST">
					Weight : <input type="number" name="weight">
					Must-take : <input type="checkbox" name="mustTake" value="true"><br>
					<button>Add to cart</button>
				</form>	
			</li>
		  </ul>
		</div>
	</div>
	<% } %>
	</div>
<% } else { %>
	<h1>Search Results</h1>
	<div class="row g-3">
	<% for(let candidate of candidates) { %>
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title"><%= candidate.subjectName %></h5>
			<p class="card-text">
				<%= candidate.prof%> 교수<br>
				<%= candidate.credit%>학점
			</p>
		  </div>
		  <ul class="list-group list-group-flush">
			<li class="list-group-item">
				<% for (let yoil of daysOfWeek ) { %>
					<% if (candidate[yoil[1]].length !== 0) { %>
						<%= yoil[0] %> : 
						<% for (let i = 0; i < candidate[yoil[1]].length; i++) { %> 
							<%= formatTime(candidate[yoil[1]][i][0]) %> ~ <%= formatTime(candidate[yoil[1]][i][1]) %>, 
						<% } %>
						<br>
					<% } %>
				<% } %>
			</li>
			<li class="list-group-item">
			  <p>
				  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= candidate._id%>" aria-expanded="false" aria-controls="collapseExample<%= candidate._id%>">
					자세히
				  </button>
			  </p>
			  <div class="collapse" id="collapseExample<%= candidate._id%>">
			    <div class="card card-body">
					강의실 : <%= candidate.roomNum%><br>
					분류 : <%= candidate.classification%><br>
					
					학과 : <%= candidate.department%><br>
					학년 : <%= candidate.grade%><br>
					강좌번호 : <%= candidate.subjectNum%><br>
					분반번호 : <%= candidate.classNum%><br>
					
					인원 : <%= candidate.capacity%><br>
					언어 : <%= candidate.language%><br>
					비고 : <%= candidate.remark%><br>
			    </div>
			  </div>
			</li>
			<li class="list-group-item">
				<form action="/database/add/<%= candidate._id %>?_method=POST" method="POST">
					중요도 : <input type="number" name="weight">
					필수 : <input type="checkbox" name="mustTake" value="true"><br>
					<button class="btn btn-dark btn-sm">담기</button>
				</form>	
			</li>
		  </ul>
		</div>
	</div>
	<% } %>
	</div>
<% } %>
	

<nav aria-label="Page navigation example">
  <ul class="pagination">
	<% if(bigPage <= 0) { %>
	<li class="page-item disabled">
	<% } else { %>
    <li class="page-item">
	<% } %>
      <a class="page-link" href="<%=urlUpToName%>&pageNo=1&bigPage=<%=bigPage-1%>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	  <% for(let i = 1; i <= ( numSeeds / displayPerPage < 10 ? numSeeds / displayPerPage : 10) ; i++) { %>
		<li class="page-item"><a class="page-link" href="<%=urlUpToName%>&pageNo=<%=i%>&bigPage=<%=bigPage%>"><%=i + 10 * bigPage%></a></li>
	  <% } %>
    <li class="page-item">
      <a class="page-link" href="<%=urlUpToName%>&pageNo=1&bigPage=<%=bigPage+1%>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>