<% layout('layouts/best_schedule_boilerplate') %>
<% if(numDisplay != 0) { %>
<header class="cd-intro">
	<h1><%= title %></h1>
</header>
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
			<% for(let time of timeSpan ) { %>
				<li><span><%=time%></span></li>
			<% } %>
		</ul>
	</div> <!-- .timeline -->

	<div class="events">
		<ul>
			<% for(let yoil of daysOfWeek){ %>
			<li class="events-group">
				<div class="top-info"><span><%=yoil[0]%></span></div>
				<ul>
					<% for(let timeBlock of possibleSchedules[0][yoil[1]]) { %>
						<li class="single-event" data-start="<%=timeBlock["data-start"]%>" data-end="<%=timeBlock["data-end"]%>" 
							data-content="<%=timeBlock["data-content"]%>" data-event="event-1">
							<a href="/">
								<em class="event-name"><%=timeBlock["subject-name"]%></em>
							</a>
						</li>
					<% } %>
				</ul>
			</li>
			<% } %>
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div>
<% } else { %>
<h1>There is no such schedule...</h1>
<% } %>