<% layout('layouts/boilerplate') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %>!</p>

<div class="row g-3">
	<% for(let subject of allSubjects) { %>
	  <div class="col-md-4">
		<%= subject.subjectName %><br>
		  <% for (let yoil of daysOfWeek ) { %>
			<% if (subject[yoil[1]].length !== 0) { %>
				<%= yoil[0] %> : 
				<% for (let i = 0; i < subject[yoil[1]].length; i++) { %> 
					<%= subject[yoil[1]][i][0] %> ~ <%= subject[yoil[1]][i][1] %>, 
				<% } %>
				<br>
			<% } %>
		<% } %>

		Required: <%= subject.mustTake %>
		Weight: <%= subject.weight %>
		Credit: <%= subject.credit %>
		  <form action="/<%= subject._id %>/?_method=DELETE" method="POST">
			  <button class="btn btn-danger">Delete</button>
		  </form>
		  <form action="/update/<%= subject._id %>">
			  <button class="btn btn-info">Update</button>
		  </form>
	  </div>
	<% } %>
</div>

	  
 <a href="/new">Add new custom subject</a>
  <br>
  <form action="/best">
	  <label for="maxCredit">Type max credit: </label>
	  <input type="number" id="maxCredit" name="maxCredit" required>
	  <button>View optimized schedule (</button>
  </form>
  <br>
 <a href="/restriction">To restrictions page</a>