<% layout('layouts/boilerplate') %>
<h1>Update <%= updateSubject.subjectName %> </h1>
	 
  <div>
	<form action="/<%= updateSubject._id %>?_method=PATCH" method="POST" class="row g-3 needs-validation" novalidate>
		
		<div class="col-md-4">
			<label for="subjectName" class="form-label">Subject Name: </label>
			<input type="text" class="form-control" id="subjectName" name="subjectName" value="<%= updateSubject.subjectName %>" required><br>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>

		<% for(let yoil of daysOfWeek) { %>
			<div class="col-md-6">
				<label for="<%= yoil[1]%>" class="form-label"><%= yoil[0] %> Time:</label>
				<input type="text" class="form-control" id="<%= yoil[1]%>" name="<%= yoil[1] %>" value="<%= updateSubject[yoil[1]]%>"><br>
			</div>
		<% } %>

		<div class="col-md-4">
			<% if(updateSubject.mustTake) { %>
				<input type="checkbox" id="mustTake" name="mustTake" value="true" checked required>
		  	<% } else { %>
				<input type="checkbox" id="mustTake" name="mustTake" value="true" required>
		  	<% } %>
			<label for="mustTake">I must take this course.</label>
		</div>

		<div class="col-md-4">
			<label for="weight" class="form-label">Importance: </label>
			<input type="number" class="form-control" id="weight" name="weight" value="<%= updateSubject.weight %>" required>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>

		<div class="col-md-4">
			<label for="credit" class="form-label">Credit: </label>
			<input type="number" class="form-control" id="credit" name="credit" value="<%= updateSubject.credit %>" required>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>

		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
  </div>

 <a href="/">Return to main page</a>