<% include('../layouts/ejsFunctions') %>
<% if(lang && lang === 'ENG') { %>
	<div class="card card-body">
		Required: <%= subject.mustTake ? 'True' : 'False' %><br>
		Weight: <%= subject.weight %><br>
		Credit: <%= subject.credit %><br>
		<% if(subject.classification) { %>
		Professor: <%= subject.prof %><br>
	

	  <p>
		  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= subject._id%>" aria-expanded="false" aria-controls="collapseExample<%= subject._id%>">
			Show Details
		  </button>
	  </p>
	  <div class="collapse" id="collapseExample<%= subject._id%>">
		<div class="card card-body">
			Room Number : <%= subject.roomNum%><br>
			Classification : <%= subject.classification%><br>

			Department : <%= subject.department%><br>
			Recommended grade : <%= subject.grade%><br>
			Subject ID : <%= subject.subjectNum%><br>
			Class ID : <%= subject.classNum%><br>

			Capacity : <%= subject.capacity%><br>
			Language : <%= subject.language%><br>
			Remark : <%= subject.remark%><br>
		</div>
	  </div>
		<% } %>
	</div>
<% } else { %>
	<div class="card card-body">
		필수 수강 여부: <%= subject.mustTake ? 'True' : 'False' %><br>
		중요도: <%= subject.weight %><br>
		학점: <%= subject.credit %><br>
		<% if(subject.classification) { %>
		교수: <%= subject.prof %><br>
	

	  <p>
		  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= subject._id%>" aria-expanded="false" aria-controls="collapseExample<%= subject._id%>">
			자세히
		  </button>
	  </p>
	  <div class="collapse" id="collapseExample<%= subject._id%>">
		<div class="card card-body">
			강의실 : <%= subject.roomNum%><br>
			분류 : <%= subject.classification%><br>

			학과 : <%= subject.department%><br>
			학년 : <%= subject.grade%><br>
			강좌번호 : <%= subject.subjectNum%><br>
			분반번호 : <%= subject.classNum%><br>

			인원 : <%= subject.capacity%><br>
			언어 : <%= subject.language%><br>
			비고 : <%= subject.remark%><br>
		</div>
	  </div>
		<% } %>
	</div>
<% } %>